name: Haskell CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

env:
  SOLVER_PKG_VERSION: "snapshot-20240212"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04]
        ghc: ["9.4.7"]
        cabal: ["3.6.2"]

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true

    - name: Install system dependencies
      shell: bash
      run: .github/ci.sh install_system_deps
      env:
        BUILD_TARGET_OS: ${{ matrix.os }}
        BUILD_TARGET_ARCH: ${{ runner.arch }}

    - uses: haskell-actions/setup@v2
      with:
        ghc-version: ${{ matrix.ghc }}
        cabal-version: ${{ matrix.cabal }}

    - name: Restore cabal store cache
      uses: actions/cache/restore@v3
      env:
        cache-name: cache-cabal
      with:
        path: ~/.cabal
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/*.cabal') }}-${{ hashFiles('**/cabal.project') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-

    - name: Install dependencies
      run: |
        cabal update
        cabal build --only-dependencies --enable-tests
    - name: Build
      run: cabal build --enable-tests all
    - name: Run tests
      run: cabal test all

    - name: Save cabal store cache
      uses: actions/cache/save@v3
      if: always()
      env:
        cache-name: cache-cabal
      with:
        path: ~/.cabal
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/*.cabal') }}-${{ hashFiles('**/cabal.project') }}
